<html>
<head>
    <h2>CURD Operations in WEC Discord BOT MongoDB Database</h2>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px; 
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: 1px solid #007bff;
            border-radius: 10px;
            font-weight: bold;
            margin: 5px;
            transition: background-color 0.4s, color 0.4s;
        }

        .button:hover {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
    <!-- <p>Click the button to go to another page:</p> -->
    <a href="/sigs" class="button">SIGs</a>
    <a href="/upcoming_events" class="button">UPCOMING EVENTS</a>
    <a href="/past_events" class="button">PAST EVENTS</a> 
    <a href="/team" class="button">TEAM</a> 
</body>
</html>